{% extends '_base.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}


    <div class="container mt-4">

        <div class="col-3">
            <div class="card my-4 bg-light">
                <h5 class="card-header bg-success text-white">Hey There!</h5>
                <div class="card-body">
                    <p class="card-text ">This is Login System Using Django</p>
                    <p>Have Fun!</p>
                    <p>You Can Create An Account And Login!</p>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}
